*,
::before,
::after {
	box-sizing: border-box;
}

pre {
	font-family: "source code pro", "lucida console", monospace;
}

// Base styles
body {
	font-size: 20px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: $primary;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media (max-width: $screen-tablet) {
		font-size: 18px;
	}
}

header {
	background-color: $primary;
	color: $secondary;
	padding: 10px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 80ch;
	width: 100%;
	margin: 0 auto;

	@media (max-width: $screen-tablet) {
		font-size: 14px;
		padding: 8px 4px;
	}
}

nav {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;

		li {
			a {
				color: $secondary;
				text-decoration: none;
			}
		}
	}
}

main {
	text-align: left;
	color: $secondary;
	padding: 10px 30px;
	flex: 1;
	margin: 0 auto;
	max-width: Min(80ch, 100%);

	a {
		&:hover,
		&:link,
		&:visited,
		&:active {
			color: $hover-color;
			text-decoration: none;
		}
	}

	@media (max-width: $screen-tablet) {
		padding: 12px;
	}
}

// Buttons
.dropbtn,
.nav-button {
	font-family: Lato, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 800;
	background-color: $primary;
	color: $secondary;
	cursor: pointer;
	border: none;
	align-items: center;
	margin: 0px 5px;

	&:hover {
		color: lighten($secondary, 5%);
	}
}

// Dropdown Button
.dropbtn:hover {
	color: lighten($secondary, 5%);
}

.dropdown {
	position: relative;
	display: inline-block;

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: $primary;
		min-width: 240px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;

		a {
			color: $secondary;
			padding: 12px 16px;
			text-decoration: none;
			display: block;

			&:hover {
				background-color: #2b282d;
			}
		}
	}

	&:hover .dropdown-content {
		display: block;
	}
}

main aside {
	overflow: scroll;
}
