// Define variables for colors and fonts
$primary: #17181c;
$secondary: #dee2e6;
$hover-color: #66b3ff;
$font-family-primary: "Roboto Slab", Roboto, Arial, sans-serif;
$font-family-secondary: "Courier Prime", Roboto, Arial, serif;
$screen-tablet: 768px;
