.power {
	color: $red;
	background: $surface;
	font-size: 24px;
	border-radius: 12px;
	margin: 6px 4px;
	padding: 6px;
	min-height: 1.5rem;
	transition: all 0.2s $materialAccel;

	&:hover {
		background: lighten($surfaceVariant, 5%);
		color: lighten($red, 5%);
	}
}
