.launcher {
	color: $onSurface;
	background: $primary;
	font-family: $font;
	border-radius: 12px;
	margin: 0 0 16px;
	padding: 6px;
}

.launcherApp {
	border-radius: 12px;
	margin: 3px;
	padding: 3px;

	&:focus {
		background: $surfaceVariant;
	}
}

.launcherEntry {
	caret-color: $onSurface;
	background: $surfaceVariant;
	border-radius: 10px;
	margin: 6px;
	padding: 3px 12px;
}

.launcherItem {
}

.launcherItemIcon {
	margin: 3px 6px;
}

.launcherItemTitle {
	font-size: 16px;
	font-weight: bold;
}

.launcherItemDescription {
	font-size: 12px;
}
