root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.lua]
indent_style = space
indent_size = 2

[*.{nix,sh,yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{js,ts,lock,diff,patch,age}]
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
end_of_line = unset

