if has nix_direnv_version; then
    # Watch parts of the directory for changes. This is
    # useful for tracking a flake-parts composed flake
    # that spans across multiple directories, as seen
    # below.
    watch_dir parts
    watch_dir hosts

    # Disable builders for trivial flake actions, such as direnv reload.
    # Helps us reduce overhead introduced by a redundant network request.
    use flake . --substituters "https://cache.nixos.org" --builders ""
fi
