# watch flake directory for changes
# this is useful for reloading when a flake-parts component changes
watch_dir flake

# --builders "" disables remote builders for trivial flake actions
# e.g. in `direnv reload`
use flake . --builders ""
