# always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work
**/*.sh text eol=lf

# try to get markdown files to be treated as markdown
# by linguist - ** prefix is for all subdirectories
**/*.md linguist-detectable
**/*.md linguist-language=Markdown

# Age encrypted secrets should be treated as binaries
# as a layer of obscurity. Though, this is not at all
# a guarantee of any security.
**/*.age binary
**/*.age linguist-detectable=false
**/*.age linguist-documentation=false

# luacheckrc is lua, lets treat it as such
.luacheckrc linguist-detectable
.luacheckrc linguist-language=Lua

# Git Configuration files
*.gitattributes linguist-detectable=false
*.gitattributes linguist-documentation=false
*.gitignore linguist-detectable=false
*.gitignore linguist-documentation=false
*.editorconfig linguist-detectable=false
*.editorconfig linguist-documentation=false

