$primary: #1e1e2e;
$onPrimary: #cdd6f4;
$secondary: #181825;
$onSecondary: #cdd6f4;
$surface: #313244;
$onSurface: #cdd6f4;
$surfaceVariant: #313244;
$onSurfaceVariant: #cdd6f4;
$shadow: #000;

// other colors
$red: #f38ba8;
$yellow: #f9e2af;
$green: #a6e3a1;
$blue: #89b4fa;
$lavender: #b4befe;
