*:not(tooltip) {
	all: unset;
}

// Colors
@import "colors";

// Vars
$font: Roboto;
$monoFont: RobotoMono;
$iconFont: SymbolsNerdFontMono;
$materialStandard: cubic-bezier(0.2, 0, 0, 1);
$materialDecel: cubic-bezier(0, 0, 0, 1);
$materialAccel: cubic-bezier(0.3, 0, 1, 1);

// Components
@import "bar/bar";
@import "launcher/launcher";
@import "desktop/desktop";
@import "popups/popups";
@import "music/music";
