*:not(tooltip) {
	all: unset;
	font-size: 19px;
	font-family:
		Material Design Icons,
		Iosevka Nerd Font Mono;
}

/* Launcher/NixOS Icon */
.icon {
	background: #313244;
	border-radius: 12px;
	margin: 6px;
	padding: 6px;
	min-height: 1.5rem;
	transition: all 0.2s cubic-bezier(0.3, 0, 1, 1);
}

.icon:hover {
	background: #7f76a3;
}

/* Workspaces */
.workspaces {
	background: #313244;
	border-radius: 12px;
	margin: 6px;
}

.workspaces button {
	color: #cdd6f4;
	margin: 3px;
	transition:
		all 0.3s cubic-bezier(0.2, 0, 0, 1),
		border 0.35s cubic-bezier(0.2, 0, 0, 1);
}

.workspaces button.focused {
	color: #b4befe;
}

.workspaces button:hover {
	color: #89b4fa;
}

/* System Tray */
.tray {
	margin: 0;
}

.trayChevron {
}

.trayIcons {
	margin: 3px 0 0 0;
}

.trayIcon {
	margin: 0 0 3px 0;
}

/* Additional Icons */
.battery {
	margin: 6px 3px;
}

.swallow {
	margin: 6px 3px;
}

.lock {
	margin: 6px 3px;
}

.clock {
	background: #313244;
	font-weight: 500;
	border-radius: 12px;
	margin: 6px;
	padding: 6px;
}

.powerMenu {
	color: #f38ba8;
	background: #313244;
	font-size: 24px;
	border-radius: 12px;
	margin: 6px;
	padding: 6px;
}

.bar {
	color: #f8f8f0;
	background: #1e1e2e;
	border-radius: 12px;
}

.systemInfo {
	background: #313244;
	border-radius: 12px;
	margin: 6px 6px 0 6px;
	padding: 6px;
}

.utilButtons {
	background: #313244;
	border-radius: 12px;
	margin: 6px 6px 0 6px;
	padding: 6px;
}

.wifiIcon {
	margin: 6px 3px;
}

.bluetooth {
	margin: 6px 3px;
	color: #f8f8f0;
}

.bluetoothIcon {
	margin: 6px 3px;
	color: #f8f8f0;
}

.launcher {
	color: #f8f8f0;
	background: #1e1e2e;
	border-radius: 12px;
	margin: 0 0 12px 0;
	padding: 6px;
}

.launcherApp {
	border-radius: 12px;
	margin: 3px;
	padding: 3px;
}

.launcherApp:focus {
	background: #716799;
}

.launcherEntry {
	caret-color: #f8f8f0;
	background: #716799;
	border-radius: 12px;
	margin: 6px;
	padding: 3px 12px;
}

.launcherItemIcon {
	margin: 3px 6px;
}

.launcherItemTitle {
	font-size: 16px;
	font-weight: bold;
}

.launcherItemDescription {
	font-size: 12px;
}

.desktopMenu {
	color: #f8f8f0;
	background: #313244;
	font-family: Roboto;
	border-radius: 12px;
	padding: 6px 3px;
}

.desktopMenuItem {
	border-radius: 12px;
	margin: 0 3px;
	padding: 6px 12px;
}
.desktopMenuItem:hover {
	background: #716799;
}

.desktopMenuItemIcon {
	padding: 0 6px 0 0;
}

.separator {
	background: #716799;
}

.desktopIcons {
	margin: 24px 0 0 24px;
}

.desktopIcon {
	border-radius: 6px;
	padding: 6px;
	transition: all 200ms cubic-bezier(0, 0, 1, 1);
}
.desktopIcon:hover {
	background: rgba(197, 163, 255, 0.5);
}

.desktopIconLabel {
	color: #5a5475;
}

.brightnessPopup {
	color: #f8f8f0;
	background: #1e1e2e;
	border-radius: 12px;
	margin: 3px 0;
	padding: 6px;
}

.brtPopupIcon {
	margin: 0 6px;
}

.brtPopupLabel {
	font-weight: 400;
	margin: 3px;
}

.brtPopupBar {
	min-width: 120px;
}
.brtPopupBar scale {
	min-height: 12px;
}
.brtPopupBar trough {
	background: #716799;
	border-radius: 12px;
	min-height: 12px;
}
.brtPopupBar highlight {
	background: #c5a3ff;
	border-radius: 12px;
	min-width: 12px;
}

.volumePopup {
	color: #f8f8f0;
	background: #5a5475;
	font-family: Roboto;
	border-radius: 12px;
	margin: 3px 0;
	padding: 6px;
}

.volPopupIcon {
	margin: 0 6px;
}

.volPopupLabel {
	font-weight: 400;
	margin: 3px;
}

.volPopupBar {
	min-width: 120px;
}
.volPopupBar scale {
	min-height: 12px;
}
.volPopupBar trough {
	background: #716799;
	border-radius: 12px;
	min-height: 12px;
}
.volPopupBar highlight {
	background: #c5a3ff;
	border-radius: 12px;
	min-width: 12px;
}

.uwustagramControls {
	margin: 0 24px 48px;
}

.controlsPrev {
	font-size: 1.5rem;
}

.controlsPlayPause {
	font-size: 2.5rem;
	margin: 0 24px;
}

.controlsNext {
	font-size: 1.5rem;
}

.music {
	background: #5a5475;
	font-family: Roboto;
	border-radius: 0;
}

.uwustagramHeader {
	background: #716799;
	font-weight: bold;
	padding: 12px;
}

.uwustagramArtist {
	font-weight: 500;
	padding: 12px;
}

.artistIcon {
	font-size: 1.5em;
	margin: 0 6px 0 0;
}

.uwustagramCover {
	opacity: 0.25;
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-height: 240px;
	min-width: 240px;
}

.uwustagramCoverOverlay {
	background-size: 100% auto;
	background-repeat: no-repeat;
	border-radius: 6px;
	margin: 48px;
	box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);
}

.uwustagramButtons {
	font-size: 1rem;
	padding: 12px;
}

.uwustagramTitle {
	font-weight: 500;
	padding: 12px 24px 0 24px;
}

.uwustagramProgress {
	padding: 24px;
	min-width: 60px;
}
.uwustagramProgress trough {
	background: #716799;
	border-radius: 12px;
	min-height: 6px;
}
.uwustagramProgress progress {
	background: #c5a3ff;
	border-radius: 12px;
	min-width: 6px;
}
