.controls {
	color: $onSurfaceVariant;
	background: $surfaceVariant;
	border-radius: 24px;
	margin: 12px 6px;
}

.controlsPrev {
	font-family: $iconFont;
	font-size: 0.75rem;
	padding: 0 12px;
	&:hover {
		background: lighten($surfaceVariant, 25%);
		border-radius: 24px;
	}
}

.controlsPlayPause {
	font-family: $iconFont;
	font-size: 0.75rem;
	padding: 0 12px;
	&:hover {
		background: lighten($surfaceVariant, 25%);
		border-radius: 24px;
	}
}

.controlsNext {
	font-family: $iconFont;
	font-size: 0.75rem;
	padding: 0 12px;
	&:hover {
		background: lighten($surfaceVariant, 25%);
		border-radius: 24px;
	}
}
