// Components
@import "launcher";
@import "workspaces";
@import "tray";
@import "battery";
@import "clock";
@import "lock";
@import "swallow";
@import "net";
@import "audio";
@import "bluetooth";
@import "power";

.bar {
	color: $onSurface;
	background: $primary;
	font-family: $font;
	border-radius: 12px;
	padding: 2px;
}

.systemInfo {
	color: $onSurface;
	background: $surfaceVariant;
	font-family: $iconFont;
	border-radius: 12px;
	margin: 4px;
	padding: 6px;
}

.utilsBox {
	color: $onSurface;
	background: $surfaceVariant;
	font-family: $iconFont;
	border-radius: 12px;
	margin: 4px;
	padding: 6px;
}
