// Components
// top
@import "launcher";
@import "system";
@import "weather";

// center
@import "workspaces";

// bottom
@import "tray";
@import "battery";
@import "bluetooth";

@import "lock";
@import "swallow";
@import "audio";
@import "net";
@import "clock";
@import "power";

// general config
.bar {
	color: $onSurface;
	background: $primary;
	font-family: $font;
	border-radius: 12px;
	padding: 2px;
}

// top section
.utilsBox {
	color: $onSurface;
	background: $surfaceVariant;
	font-family: $iconFont;
	border-radius: 12px;
	margin: 4px;
	padding: 6px;
}

// bottom section
.systemInfo {
	color: $onSurface;
	background: $surfaceVariant;
	font-family: $iconFont;
	border-radius: 12px;
	margin: 4px;
	padding: 6px;
}
