.workspaces {
	background: transparent;
	padding: 14px;

	button {
		margin: 5px 3px;
		min-width: 0.6rem;
		min-height: 0.6rem;

		color: transparent;
		background: $onSurface;
		border-radius: 99px;

		transition:
			all 0.3s $materialStandard,
			border 0.35s $materialStandard;

		&:hover {
			background: $lavender;
		}

		&.focused {
			border-radius: 18px;
			background: $blue;
			padding: 8px 0;
		}
	}
}
