@import "prelude";
@import "colors";
@import "beziers";

// Vars
$font: roboto;
$monoFont: robotomono;
$iconFont: symbolsnerdfontmono;

// Modules
@import "bar/bar";
@import "launcher/launcher";
@import "desktop/desktop";
@import "popups/popups";
@import "music/music";
