.uwustagramControls {
    margin: 0 24px 48px;
}

.controlsPrev {
    font-family: $iconFont;
    font-size: 1.5rem;
}

.controlsPlayPause {
    font-family: $iconFont;
    font-size: 2.5rem;
    margin: 0 24px;
}

.controlsNext {
    font-family: $iconFont;
    font-size: 1.5rem;
}
