div.sourceCode {
	font-family: "source code pro", "lucida console", monospace;
	border: 1px solid #3b373d;
	padding: 8px;
	text-align: left;
	background-color: lighten($primary, 3%);
	overflow: scroll;
	max-width: 100%;
	border-radius: 8px;
}
