footer {
	color: white;
	padding: 7px 5px 7px 5px;
	text-align: center;
	margin-top: auto;
	position: relative;

	.footer-divider {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 20%;
		height: 1px;
		background-color: white;
	}

	.footer-icons {
		margin: 15px 5px;

		a {
			color: white;
			text-decoration: none;
			margin-bottom: 5px;
		}
	}
}
