table {
	border-collapse: collapse;
	width: 100%;
	margin: 30px 0px;

	th,
	td {
		border: 1px solid #3b373d;
		padding: 8px;
		text-align: left;
	}

	th {
		background-color: #141215;
		color: white;
	}

	tr:nth-child(even) {
		background-color: #2b282d;
	}
}
