.volumePopup {
  color: $onSurface;
  background: $primary;
  font-family: $font;
  border-radius: 10px;
  border: black;
  margin: 6px 0;
  padding: 4px;
}

.volPopupIcon {
  font-family: $iconFont;
  margin: 0 6px;
}

.volPopupLabel {
  font-weight: 400;
  margin: 3px;
}

.volPopupBar {
  min-width: 200px;

  & scale {
    min-height: 12px;
  }

  & trough {
    background: $surfaceVariant;
    border-radius: 12px;
    min-height: 12px;
  }

  & highlight {
    background: $lavender;
    border-radius: 12px;
    min-width: 12px;
  }
}
