.brightnessPopup {
	color: $onSurface;
	background: $surface;
	border-radius: 24px;
	margin: 6px;
	padding: 12px;
}

.brtPopupIcon {
	font-family: $iconFont;
	margin: 0 6px 0 0;
}

.brtPopupBar {
	min-width: 120px;
	& scale {
		min-height: 12px;
	}
	& trough {
		background: transparentize($surfaceVariant, 0.5);
		border-radius: 24px;
		min-height: 12px;
	}
	& highlight {
		background: $primary;
		border-radius: 24px;
		min-width: 12px;
	}
}
