//.notifications {}

.notification {
	color: $onSurface;
	background: transparentize($surface, 0.9);
	border: solid $outline;
	border-width: 1px 0;
	border-radius: 24px;
	& > * {
		margin: 6px;
		padding: 12px;
		min-width: 240px;
	}
	&.critical {
		//color: $onError;
		background: transparentize($error, 0.9);
		border: solid $onError;
		border-width: 1px 0;
		border-radius: 24px;
	}
}

.notificationIcon {
	margin: 12px 12px 12px 0;
}

.notificationTitle {
	font-weight: 500;
}

.notificationBody {
	color: darken($onSurface, 25%);
	&.critical {
		//color: darken($onError, 5%);
	}
}

.action-button {
	margin: 0;
}

.action-button:first-child {
	margin: 0;
}

.action-button:last-child {
	margin: 0;
}

.action-button:last-child:first-child {
	margin: 0;
}
