.bluetooth {
	margin: 6px 3px;
	transition:
		all 0.3s $materialStandard,
		border 0.35s $materialStandard;

	&:hover {
		color: $lavender;
	}
}

.bluetooth-active {
	color: $onSurface;
}

.bluetooth-disabled {
	color: lighten($surfaceVariant, 30%);
	transition:
		all 0.3s $materialStandard,
		border 0.35s $materialStandard;

	&:hover {
		color: $red;
	}
}

.bluetooth-paired {
	color: $onSurface;
}
