.weather {
	background: $surfaceVariant;
	font-family: "Material Symbols Sharp", Roboto;
	border-radius: 12px;
	margin: 6px 4px;
	padding: 4px;
	min-height: 1.5rem;
	min-width: 1rem;
	transition: all 0.2s $materialAccel;

	&:hover {
		background: lighten($surfaceVariant, 5%);
	}
}
