.workspaces {
	background: transparent;
	padding: 14px;

	button {
		@include barModule;

		// override some styles provided by barModule
		// to better suit the position of the workspaces
		// module
		margin: 5px 3px;
		min-width: 0.6rem;
		min-height: 0.6rem;

		color: transparent;
		background: $onSurface;
		border-radius: 99px;

		&:hover {
			background: $lavender;
		}

		&.focused {
			border-radius: 18px;
			background: $blue;
			padding: 8px 0;
		}
	}
}
