name: "Set up binary cache"

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - system-module
    paths:
      - flake.nix
      - flake.lock
    paths-ignore:
      - .github/**
      - assets/**
      - .gitignore
jobs:
  cahix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - hyprland-cached
          # add more as needed
    steps:
      - uses: easimon/maximize-build-space@v6
        with:
          overprovision-lvm: true
          remove-android: true
          remove-dotnet: true
          remove-haskell: true
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            auto-optimise-store = true
            experimental-features = nix-command flakes
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v12
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: notashelf

      - name: Set default git branch (to reduce log spam)
        run: git config --global init.defaultBranch main

      - name: Build Hyprland packages from the matrix with default settings
        run: nix build .#${{ matrix.package }} --print-build-logs
