name: Build local packages
on:
  pull_request:
  push:
    branches:
      - master
      - main
jobs:
  generate-nix-matrix:
    name: "Generate CI from flake output"
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install Nix"
        uses: cachix/install-nix-action@master
      - name: "Generate Nix Matrix"
        id: set-matrix
        run: |
          set -Eeu
          matrix="$(nix eval --json '.#githubActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"
  nix-build-from-matrix:
    name: "Build .#${{ matrix.attr }} via Nix"
    needs: generate-nix-matrix
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{fromJSON(needs.generate-nix-matrix.outputs.matrix)}}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: "Install Nix"
        uses: cachix/install-nix-action@master
      - name: "Build packages from generated Matrix"
        run: |
          nix build -L ".#${{ matrix.attr }}"
